@import "../../variables.scss";

.button {
  align-items: center;
  background: $main_color;
  border: 0;
  border-radius: 15px;
  color: $main_text_color;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  justify-content: center;
  padding: 7px 30px 6px 30px;
  transition: 200ms;

  &:active {
    background: $secondary_color;
  }
}