@import "../../variables.scss";

.area-progress {
  align-items: center;
  display: flex;
  gap: 11px;

  .value {
    color: $basic_text_color;
    font-family: $font-family;
    font-size: $font-size-small;
  }

  .pie-container {
    height: 27px;
    position: relative;
    width: 27px;

    &.complete:before {
      border: solid white;
      border-width: 0 2px 2px 0;
      content: "";
      height: 9px;
      left: 10px;
      position: absolute;
      top: 6px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transition: 200ms;
      width: 4px;
    }
  }
}