$main_color: #70B8C2;
$secondary_color: #59A3AD;

$basic_color_light: #C5CDCE;
$basic_color: #6C6F70;
$basic_color_dark: #000000;

$success_color: #69D674;
$disabled_color: $basic_color_light;

$gradient_main_color_light: #BCE6E7;
$gradient_main_color_dark: #5CACB8;
$gradient_basic_color_light: #FFFFFF;
$gradient_basic_color_dark: #E5E8EF;
$gradient_success_color_light: #8cf697;
$gradient_success_color_dark: $success_color;

$main_text_color: #FFFFFF;
$basic_text_color: $basic_color;
$basic_text_color_dark: $basic_color_dark;

$transition_speed: 200ms;

$font-family: "Roboto", sans-serif;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;

// TODO: убрать неиспользуеые переменные